#slogan{
		font-style: italic;
	}

body {
	background-color: #a3d0cd;
	text-align: center;
	font-family: helvetica;
	color: #fff;
}

p a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

ul {
	list-style-type: none;
	line-height: 32px;
}

